/*.animation{*/
  /*animation-duration: 1s;*/
  /*animation-name: bounceIn;*/
/*}*/

/*@keyframes bounceIn {*/
  /*0% {*/
    /*transform: scale(0.5);*/
    /*opacity: 5;*/
  /*}*/
  /*60% {*/
    /*transform: scale(1.2);*/
    /*opacity: 1;*/
  /*}*/
  /*100% {*/
    /*transform: scale(1);*/
  /*}*/
/*}*/

@keyframes left {
  0% {
    /*opacity: 0.2;*/
    left: -300px;
  }
  100% {
    left: 0;
  }
}

.animate-left {
  animation-duration: 1s;
  animation-name: left;
}

.flyoutMenuLeft {
  height: 100vh;
  background-color: white;
  position:absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in;
  z-index: 7;
  padding: 5%;
  animation-name: left;
  /*animation-direction: alternate;*/
}

/*.animation{
  animation-duration: 3s;
  animation-name: lightSpeedIn;
}

@keyframes lightSpeedIn
{
  from {
    margin-top: 100%;
    width: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/
.animate-right{
  animation-duration: 3s;
  animation-name: right;
}

@keyframes right {
  0% {
    /*opacity: 0.2;*/
    right: -300px;
  }
  100% {
    right: 0;
  }
}

.flyoutMenuRight {
  height: 100vh;
  background-color: white;
  position:absolute;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in;
  z-index: 7;
  padding: 5%;
  animation-name: right;
}



@keyframes top {
  0% {
    /*opacity: 0.2;*/
    top: -300px;
  }
  100% {
    top: 0;
  }
}

.animate-top {
  animation-duration: 1s;
  animation-name: top;
}

.flyoutMenuTop {
  width: 100vw;
  background-color: white;
  position:absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 7;
  padding: 5%;
  animation-name: top;
}

@keyframes bottom {
  0% {
    /*opacity: 0.2;*/
    bottom: -300px;
  }
  100% {
    bottom: 0;
  }
}

.animate-bottom {
  animation-duration: 1s;
  animation-name: bottom;
}


.flyoutMenuBottom {
  width: 100vw;
  background-color: white;
  position:absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 7;
  padding: 5%;
  animation-name: bottom;
}


.hide {
  display: none;
}

.show{
  display: block;
}

.flyoutMenu h2 a {
  color: darkorange;
  margin-left: 100px;
  text-decoration: none;
}

.flyoutMenu h2 a:hover {
  text-decoration: underline;
  }

.backdrop {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  }

/*
.float-left3d {
  -webkit-transform: translate3d(100vw,0,0) translateX(-100%);
  -moz-transform: translate3d(100vw,0,0) translateX(-100%);
  -o-transform: translate3d(100vw,0,0) translateX(-100%);
  transform: translate3d(100vw,0,0) translateX(-100%);
}
*/

